<!DOCTYPE html>
<html  dir="rtl"  lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/lib/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>پنل مدیریت فروشگاه</h1>
    <button type="button" onclick="location.href='/admin/';" >کالا</button>
    <button type="button" onclick="location.href='/admin/storehouse/';" > انبار ها</button>
    <button type="button" onclick="location.href='/admin/existing/';" >موجودی و قیمت ها</button>
    <button type="button" onclick="location.href='/admin/order/';" >سفارش ها</button>
    <button type="button" onclick="location.href='/admin/logout/';" >خروج</button>
    <button type="button">بازگشت به سایت</button>
    <hr>
    {% block content %}{% endblock %}
    
</body>
</html>
