<!DOCTYPE html>
<html  dir="rtl"  lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/admin/base.css">
    {% block header %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container mt-3">
        <div class="d-flex justify-content-between">
            <h1>پنل مدیریت فروشگاه</h1>
            <div class="d-none d-sm-block align-items-center">
                <a class="btn btn-primary" href="/">بازگشت به سایت</a>
                <a class="btn btn-primary" href="/admin/logout/">خروج</a>
            </div>
        </div>
            <!-- mobile navbar -->
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-light p-4 d-lg-none">
                <ul class="navbar-nav">
                    <a class="nav-link text-primary" href="/admin/">کالا</a>
                    <a class="nav-link text-primary" href="/admin/storehouse/">انبار</a>
                    <a class="nav-link text-primary" href="/admin/existing/">موجودی و قیمت</a>
                    <a class="nav-link text-primary" href="/admin/order/">سفارش ها </a>
                    <a class="nav-link text-primary d-sm-none" href="/">بازگشت به سایت</a>
                    <a class="nav-link text-primary d-sm-none" href="/admin/logout/">خروج</a>
                </ul>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-light d-lg-none">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-secondary"></span>
            </button>
        </div>
        </nav>
            <!-- computer navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light d-none d-lg-block">
            <div class="container-fluid">
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link text-primary" href="/admin/">کالا</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-primary" href="/admin/storehouse/">انبار</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-primary" href="/admin/existing/">موجودی و قیمت</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="/admin/order/">سفارش ها </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </div>
    <script>
        $('.nav-link').click(function(){
            $(this).addClass('active')
        })
        $('.active').removeClass('active')
        for(var i=0; i<$('.nav-link').length; i++){
            if( $($('.nav-link')[i]).attr('href') == window.location.pathname){
                console.log(window.location.pathname)
                $($('.nav-link')[i]).addClass('active')
            }
        }
    </script>   
</body>
</html>
