{% extends "admin/base.html" %}

{% block title %}مدیریت انبارها{% endblock %}
{% block content %}
    <h3>مدیریت موجودی و قیمت ها</h3>
    <button type="button" class="addStorehouse" data-bs-toggle='modal' data-bs-target='#addModal'>افزودن موجودی</button>
    
    <!-- Table -->
    <br><br>
    <table border=1 class="table table-striped" style='display:none'>
        <thead>
            <tr>
                <th>نام انبار</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <!-- Edit Modal -->
    <div style='display:none' class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">ویرایش</h5>
            <button style='padding: 1rem 1rem;margin: -1rem auto -1rem -1rem;' type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            <button type="button" class="editSaveButton btn btn-primary">ذخیره</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div style='display:none' class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">حذف</h5>
            <button style='padding: 1rem 1rem;margin: -1rem auto -1rem -1rem;' type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            <button type="button" class="deleteSaveButton btn btn-primary">حذف</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Add Modal -->
    <div style='display:none' class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">افزودن موجودی</h5>
            <button style='padding: 1rem 1rem;margin: -1rem auto -1rem -1rem;' type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            <button type="button" class="addSaveButton btn btn-primary">افزودن</button>
            </div>
        </div>
        </div>
    </div>

{% endblock %}