<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1><a style="text-decoration: none; color:black;" href="/"> فروشگاه مکتب کالا </a></h1>
    <button type="button" onclick="location.href='/admin/login/';" >مدیریت</button>
    <button type="button" onclick="location.href='/basket/';" >سبد خرید</button>
    <hr>
    {% block content %}{% endblock %}
    <script src="../static/lib/js/jquery-3.4.1.min.js"></script>
    <script src="../static/lib/js/bootstrap.min.js"></script>
    {% block script %}
    
    {% endblock %}
</body>
</html>