<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='demo.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    link:fo

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- <div class="mx-3"> -->
        <header class="ScriptHeader">
            <div class="rt-container container">
                <div class="col-rt-12">
                    <div class="rt-heading">
                        <h1><a href="/" style=>فروشگاه مکتب کالا</a></h1>
                        <p>بهترین خرید را با ما تجربه کنید</p>
                    </div>
                </div>
            </div>
        </header>

        <section>
            <div class="rt-container">
                <div class="col-rt-12">
                    <div class="Scriptcontent sticky-lg-top ">
                        <div class="d-flex justify-content-end header ">
                            <button type="button" class="btn m-2 btn-primary align-self-center "
                                onclick="location.href='/admin/login/';">مدیریت</button>
                            <button type="button" class="btn m-2 btn-primary align-self-center "
                                onclick="location.href='/basket/';">سبد خرید</button>
                            {% block header %}{% endblock %}
                        </div>
                    </div>
                    <div class="content_1">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>
    
    <!-- </div> -->

    <script src="{{url_for('static', filename='lib/js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/js/bootstrap.min.js')}}"></script>
    {% block script %}{% endblock %}

</body>

</html>