{% extends "/base.html" %}

{% block title %}
مکتب کالا - دسته بندی
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>کالا</th>
            <th>قیمت</th>
            <th>تعداد</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order['name'] }}</td>
                <td>{{ order['price'] }}</td>
                <td>{{ order['count'] }}</td>
                <td>
                    <button type="button" class="btn btn-primary">حذف</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="d-flex justify-content-between">
    <label>جمع : {{ sumAll }}</label>
    <button type="button" id="basketApprove" class="btn btn-primary">نهایی کردن سبد خرید</button>
</div>
</div>


<script src="../static/basket.js"></script>
{% endblock %}
