{% extends "/base.html" %}

{% block title %}
مکتب کالا - دسته بندی
{% endblock %}


{% block content %}

<main class="main">
    <aside class="sidebar">
      <nav class="nav">
        <ul>
          <li ><a style="text-decoration: none; color:black;" href="/">مکتب کالا</a></li>

          {% for category in cat_subcat %}
            <li ><a class="lii sbar" href="/category/{{ category }}">{{ category }}</a>
                <ul>
                    {% for subcat in cat_subcat.get(category) %}
                        <li ><a class="lii sbar" href="/subcategory/{{ subcat }}">{{ subcat }}</a></li>
                    {% endfor %} 
                </ul>               
            </li>
          {% endfor %}
        </ul>
      </nav>
    </aside>
  
    <section class="category">
      <div class="container">
        <h1>کالا های گروه {{ name }}</h1>
    <table>

    <!-- {% block table %} -->

    {% for product in category %}

        <tr>
            <td>
                <a href="/product/?name={{ product.get('name') }}&price={{ product.get('price') }}" style="text-decoration: none; color: black">
                    نام محصول: {{ product.get('name') }}
                </a>
            </td>
            <td>
                <a href="/product/?name={{ product.get('name') }}&price={{ product.get('price') }}" style="text-decoration: none; color: black">
                    قیمت کالا: {{ product.get('price') }}
                </a>
            </td>
            <td>
                <a href="/product/?name={{ product.get('name') }}&price={{ product.get('price') }}" style="text-decoration: none; color: black">
                    <img src="{{ product.get('image') }}" alt="بعدا عکس میذاریم" width="50" height="60">
                </a>
            </td>
        </tr>
    {% endfor %}

    <!-- {% endblock %} -->
    </table>
            <hr> 
      </div>
    </section>
  </main>
    
{% endblock %}

{% block script %}
<script>
    $('.sbar').click(function(){
        $(this).addClass('active')
    })
    $('.active').removeClass('active')
    for(var i=0; i<$('.sbar').length; i++){
        // console.log($($('.sbar')[i]).attr('href'),decodeURI(window.location.pathname))
        if( $($('.sbar')[i]).attr('href') == decodeURI(window.location.pathname)){
            console.log(decodeURI(window.location.pathname))
            $($('.sbar')[i]).addClass('active')
    }
    }
</script>   
{% endblock %}
