{% extends "/base.html" %}

{% block title %}
مکتب کالا
{% endblock %}

{% block content %}
    {% for cat in pr.keys() %}
    <h1><a href='category/{{ cat }}' style="text-decoration: none; color: black">کالا های گروه {{ cat }}</a></h1>
        <table>
        {% for st in pr.get(cat) %}
            <tr>
                <td>
                    <a href="/product/?name={{ st.get('name') }}&price={{ st.get('price') }}" style="text-decoration: none; color: black">
                        نام محصول: {{ st.get('name') }}
                    </a>
                </td>
                <td>
                    <a href="/product/?name={{ st.get('name') }}&price={{ st.get('price') }}" style="text-decoration: none; color: black">
                        قیمت کالا: {{ st.get('price') }}
                    </a>
                </td>
                <td>
                    <a href="/product/?name={{ st.get('name') }}&price={{ st.get('price') }}" style="text-decoration: none; color: black">
                        <img src="{{ st.get('image') }}" alt="بعدا عکس میذاریم" width="50" height="60">
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
        <hr>
    {% endfor %}
{% endblock %}

