@import url('https://fonts.googleapis.com/css?family=Open+Sans');

 .sidebar {
	 position: fixed;
	 width: 20%;
	 height: 100vh;
	 background:#338ecf;

}
 .nav {
	 position: relative;
	 margin: 0 2%;
	 text-align: right;
	 top: 40%;
	 transform: translateY(-50%);
	 /* font-weight: bold; */
}
 .nav ul {
	 list-style: none;
}
 .nav ul li {
	 position: relative;
	 margin: 1em 2em;
}
 .nav ul li a {
	 line-height: 2em;
	 text-transform: uppercase;
	 text-decoration: none;
	 letter-spacing: 0.03em;
	 font-size:20px;
	 color:black;
	 display: block;
	 transition: all ease-out 300ms;
}
 /* .nav ul li.active a {
	 color: rgb(236, 14, 14);
} */
 .nav ul li:not(.active)::after {
	 opacity: 1;
}
.lii:hover  {
	 color: gray;
}
.nav ul li ul li:hover a {
	color: gray;
}
 .nav ul li::after {
	 content: '';
	 position: absolute;
	 width: 100%;
	 height: 0.1em;
	 background: rgb(122, 105, 105);
	 left: 0;
	 bottom: 0;
	 background-image: linear-gradient(to left, #8a849b, #dedee7);
}
 
.category {
	position: relative;
	width: 80%;
	float:left;
	height: 100vh;
}
.category .container {
	display: flex;
	flex-direction: column;
	align-items: right;
	justify-content: right;
	height: 100%;
	margin-right: 20px;
}
.category a {
	position: relative;
}
.category a img {
	width: 48px;
	height: 48px;
}
.category p {
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 0.1em;
	color:gray;
	/* font-weight: bold; */
	margin-top: 20px;
}

.active {
	border-bottom: 3px solid #338ecf;
	color:black;
	font-weight:bold;
}
